.signup-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  padding: 30px;
}

.signup-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}

input:required:invalid,
input:focus:invalid {
  border: 3px solid #ff00007c;
}
input:placeholder-shown {
  border: 1px solid #ced4da !important;
  background-color: rgba(189, 189, 189, 0.466);
}
input:required:valid {
  background-color: rgba(255, 255, 255, 0.103);
}
